:root {
  --bg-black: #272727;
  --title-font: "Oswald", sans-serif;
  --nav-font: "Montserrat", sans-serif;
  --txt-white: whitesmoke;
  --unselected-color: #ffffff9a;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: var(--bg-black);
  padding: 0 1rem;
  font-family: var(--nav-font);
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
h1 {
  color: var(--txt-white);
  font-family: var(--title-font);
  font-size: 16pt;
  text-transform: uppercase;
}
header nav {
  display: flex;
  gap: 2rem;
  margin: 0 0 0 2rem;
}
header button {
  background-color: transparent;
  color: var(--txt-white);
  border: none;
}
header button h2 {
  font-weight: 50;
  font-size: 12pt;
  border-bottom: transparent;
  color: var(--unselected-color);
  font-family: var(--nav-font);
}
header h2:hover {
  cursor: pointer;
  color: var(--txt-white);
}

.profileClickable,
.collectionClickable,
span {
  color: var(--unselected-color);
}

.profileClickable:hover,
.collectionClickable:hover {
  cursor: pointer;
  color: var(--txt-white);
}
.thumbnail {
  position: relative;
  width: 240px;
  border-radius: 5px;
}

.thumbnailWrapper:hover {
  cursor: pointer;
  border: solid rgb(245, 245, 245) 1pt;
}
.gridLayout {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  padding: 0 40px;
}
.thumbnailWrapper {
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 1rem;
  border: solid transparent 1pt;
  border-radius: 5px;
}

.imageLayout {
  display: grid;
  grid-template-columns: auto auto;
  justify-items: center;
  gap: 1rem;
}
